# Dominio público para SEO, URLs canónicas, Sitemap y OpenGraph
NEXT_PUBLIC_SITE_URL=https://www.stringartgenerator.app

# Códigos de verificación para buscadores y herramientas SEO (opcionales)
# Google Search Console Verification code (meta tag content)
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=

# Ubersuggest Site Verification code (meta tag content)
NEXT_PUBLIC_UBERSUGGEST_SITE_VERIFICATION=
